body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  max-width: 1180px;
  margin: 0px auto;

}


.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex; 
   flex-direction: column;
}

.content{
  flex: 1 1 auto;
}

.hi{
  background-color: #445162;
  padding: 50px 0;
  
}

.hi__row{
  display: flex;
  justify-content: space-between;

  align-items: center;

  /* flex-wrap: wrap; */
  
}

.hi__body{
  color: #ffffff;

  
}

.hi__title{
  text-shadow: hoff voff blur #000;
  font-size: 60px;
  margin: 0px 0px 38px 0px;
  
}

.hi__list{

}

.hi__list li{
  text-shadow: 1px 1px blur #000;
  font-size: 20px;
  line-height: 22px;
  padding: 0px 0px 0px 36px;
  margin-bottom: 15px;
}

.hi__list li:last-child{
  margin: 0;
}

.hi__img{
  margin-left: auto;
}


.hi__img img{
  max-width: 70%;
  max-height: 100%;
  
}

.footer{
  background-color: #ebebeb;
}



.footer__row{
  display: flex;
  height: 65px;
  justify-content: center;
  align-items: center;
}

.footer__txt{
  color: #445162;
  font-size: 12px;
  letter-spacing: 0.3px;

}

.what__img img{
  max-width: 100%;
}

/* what__row */

.title{
  
  color: #445162;
  font-size: 30px;
  line-height: 36px;
}

.what__title{
  margin: 0 0 33px 0;
}

.what__row{
  display: flex;
}

.what{
  padding: 50px 0;
}

.what__img{
  flex: 0 0 420px;
}

.what__body{
  flex: 1 1 auto;
  padding-left: 30px;
}

.what__txt p{
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}

/* Columns */

.columns{
  background-color: #f5f5f5;
  padding: 50px 0 20px 0;
}

.columns__title{
  text-align: center;
  margin-bottom: 30px;
}

.columns__row{
  display: flex;
  flex-wrap: wrap;
  margin: 0px -8px;
}

.columns__column{
  flex: 0 1 50%;
  margin-bottom: 30px;
  padding: 0px 8px;
}

.item__img{
  flex: 0 0 250px;
}

.item__img img{
  max-width: 100%;
}

.item__body{
  flex: 1 1 auto;
  padding-left: 15px;
}

.item_row{
  display: flex;
}

.item__txt{
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}

.item__title{
  color: #445161;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 13px;
}